@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-duration-75 {
    animation-duration: 75ms;
  }
  .animation-duration-500 {
    animation-duration: 500ms;
  }
  .animation-duration-5000 {
    animation-duration: 5000ms;
  }
}

@layer components {
  .btn-disabled {
    @apply block py-2 px-4 text-gray-400 cursor-not-allowed;
  }
  .btn-active {
    @apply text-center block border border-pizazz-400 rounded py-2 px-4 bg-pizazz-500 hover:bg-pizazz-600 text-white;
  }
  .btn {
    @apply text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4;
  }
}
