@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Tilt+Warp&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-duration-75 {
    animation-duration: 75ms;
  }
  .animation-duration-500 {
    animation-duration: 500ms;
  }
  .animation-duration-5000 {
    animation-duration: 5000ms;
  }

  .font {
    font-family: "Tilt Warp", cursive;
  }

  .no-focus {
    pointer-events: none;
  }
}

@layer components {
  .btn-disabled {
    @apply block  text-gray-400 cursor-not-allowed py-2 px-4;
  }
  .btn-active {
    @apply text-center block border border-pizazz-400 rounded bg-pizazz-500 hover:bg-pizazz-600 text-white py-2 px-4;
  }
  .btn {
    @apply text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4;
  }

  .number {
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }

  .error {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500;
  }

  .success {
    @apply bg-endeavour-50 border border-endeavour-500 text-endeavour-900 placeholder-endeavour-700 text-sm rounded-lg focus:ring-endeavour-500;
  }
}
