@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-duration-75 {
    animation-duration: 75ms;
  }
  .animation-duration-500 {
    animation-duration: 500ms;
  }
  .animation-duration-5000 {
    animation-duration: 5000ms;
  }
}
